<launch>
	<!--Parameters-->
	<param name="/use_sim_time" value="true"/>

	<!--Play rosbags -->
	<node pkg="rosbag" type="play" name="player" output="screen" args="--clock -r 1.0 $(find lsd_alignment)/datasets/hand_carry.bag" /> 
		
	<!--Rviz -->
	<!--<node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find lsd_alignment)/launch/viewer.rviz" />-->
        
        <!--Image Proc -->
        <node pkg="stereo_image_proc" type="stereo_image_proc" name="stereo_proc" ns="narrow_stereo" args="_approximate_sync:=True" />

        <node pkg="lsd_alignment" name="lsd" output="screen" type="lsd_alignment"/>

</launch>


